
<div class="parallax">
<section class="prod-container container content-section">
{{#each products as |product|}}
    <div class="card shop-items">
        <div class="img-container">
            <img src="{{product.image}}" alt="{{product.name}}" class="image" style="width:100%">
        </div>
    <div class = "card-text shop-item">
        <h1><span class="shop-item-title">{{product.name}}</span></h1>

        <p>{{product.thc}} THC</p>             
    
       <div class="shop-item-details">

        <p class="price shop-item-price">${{product.price}}</p>
        {{!-- product.id? --}}
        <button data-id="{{product.id}}" class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
        {{!-- <p><button data-id="{{product.id}}" class="shop-item-button" type="button">Plus one</a></button></p> --}}
        </div>
    </div>
    </div>
{{/each}}
</section>
<section class="container cart-table content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row" style="float: right;">
                <span class="cart-item cart-header cart-column"></span>
                <span class="cart-price cart-header cart-column"></span>
                <span class="cart-quantity cart-header cart-column"></span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">$0</span>
            </div>
            <a href="/checkout"><button class="btn btn-primary btn-purchase" type="button">PURCHASE</a></button>
</section>






