{{#each products as |product|}}
<div class="card1" >
  <h1>{{product.price}}</h1>
  <h1>{{product.name}}</h1>
  <p class="price">${{product.price}}</p>
  <p>{{product.thc}} THC</p>
  <p>{{product.brand}}</p>
  <p><button data-id="{{id}}">Order Delivery Now</a></button></p>

</div>{{/each}}






{{!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12">


    <div class="clearfix visible-sm"></div>

    <!-- Cart -->
    <div class="col-lg-9 col-md-9 col-sm-12">
        <div class="col-lg-12 col-sm-12">
            <span class="title">SHOPPING CART</span>
        </div>
        <div class="col-lg-12 col-sm-12 hero-feature">
            <div class="table-responsive">
                <table class="table table-bordered tbl-cart">
                    <thead>
                        <tr>
                            <td class="hidden-xs">Image</td>
                            <td>Product Name</td>
                            <td>Size</td>
                            <td>Color</td>
                            <td class="td-qty">Quantity</td>
                            <td>Unit Price</td>
                            <td>Sub Total</td>
                            <td>Remove</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="hidden-xs">
                                <a href="#">
                                    <img src="https://www.arborday.org/images/hero/medium/hero-aerial-forest-evergreen-trees.jpg" alt="This is the chronic" title="" width="47" height="47">
                                </a>
                            </td>
                            <td><a href="#">{{name}}</a>
                            </td>
                            <td>
                                <select name="">
                                    <option value="" selected="selected">Gram</option>
                                    <option value="">8th</option>
                                </select>
                            </td>
                            <td>-</td>
                            <td>
                                <div class="input-group bootstrap-touchspin"><span class="input-group-btn"><button class="btn btn-default bootstrap-touchspin-down" type="button">-</button></span><span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span><input type="text" name="" value="1" class="input-qty form-control text-center" style="display: block;"><span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span><span class="input-group-btn"><button class="btn btn-default bootstrap-touchspin-up" type="button">+</button></span></div>
                            </td>
                            <td class="price">$ 69.99</td>
                            <td>$ 69.99</td>
                            <td class="text-center">
                                <a href="#" class="remove_cart" rel="2">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="hidden-xs">
                                <a href="#">
                                    <img src="https://hgtvhome.sndimg.com/content/dam/images/grdn/fullset/2012/8/20/0/0403_051.jpg.rend.hgtvcom.1280.1920.suffix/1452646441575.jpeg" alt="Adidas Men Red Printed T-shirt" title="" width="47" height="47">
                                </a>
                            </td>
                            <td><a href="#">Blast Masta Kush</a>
                            </td>
                            <td>
                                <select name="">
                                    <option value="">Gram</option>
                                    <option value="" selected="selected">8th</option>
                                </select>
                            </td>
                            <td>
                                <select name="">
                                    <option value="" selected="selected">Blast Off</option>
                                    <option value="">Blast On</option>
                                </select>
                            </td>
                            <td>
                                <div class="input-group bootstrap-touchspin"><span class="input-group-btn"><button class="btn btn-default bootstrap-touchspin-down" type="button">-</button></span><span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span><input type="text" name="" value="2" class="input-qty form-control text-center" style="display: block;"><span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span><span class="input-group-btn"><button class="btn btn-default bootstrap-touchspin-up" type="button">+</button></span></div>
                            </td>
                            <td class="price">$ 5.00</td>
                            <td>$ 10.00</td>
                            <td class="text-center">
                                <a href="#" class="remove_cart" rel="1">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <!--this is all prefilled data-->
                            <td colspan="6" align="right">Total</td>
                            <td class="total" colspan="2"><b>$ 163.47</b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="btn-group btns-cart row">
                <button type="button" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Continue Shopping</button>
                <button type="button" class="btn btn-primary">Update Cart</button>
                <button type="button" class="btn btn-primary">Checkout <i class="fa fa-arrow-circle-right"></i></button>
            </div>

        </div>
    </div>
    <!-- End Cart -->
</div>
</div> --}}