{{!-- {{#each products as |product|}}
<div class="card1" >
  <h1>{{product.price}}</h1>
  <h1>{{product.name}}</h1>
  <p class="price">${{product.price}}</p>
  <p>{{product.thc}} THC</p>
  <p>{{product.brand}}</p>
  <p><button data-id="{{id}}">Order Delivery Now</a></button></p>


</div>{{/each}} --}}






{{!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12">--}}


{{!-- <div class="parallax"> --}}
    <section class="prod-container">
{{#each products as |product|}}
<div class="card">
  <div class="img-container">
  <img src="{{product.image}}" alt="{{product.name}}" class="image" style="width:100%">
  </div>
  <div class = "card-text">
  <h1>{{product.name}}</h1>
  <p>{{product.thc}} THC</p>
  <p class="price">${{product.price}}</p>
  {{!-- product.id? --}}
  <p><button data-id="{{product.id}}">Plus one</a></button></p>
  </div>
</div>{{/each}}
</section>
{{!-- </div>  --}}