<section class = "One">

    
<div class="card2" >
    <h1>Deal of the day:</h1>
  <img src="{{image}}" alt="{{name}}" class="img-card" style="width:100%">
  <h3>{{name}}</h3>
  <p class="price">${{price}}</p>
  <p>{{thc}} THC</p>
  <p><button>Add to Cart</button></p>

</div>

</section>








<script src = "/js/login.js"></script>
