
<h1 class="about-text main-about" style="font-weight: 900; text-align:center">
  <em>Welcome to GoodDeez</em>

</h1> 

<section class=" home-main prod-container col-lg-12">

  <h1 class= "header"><em><strong>Product of the Day:</strong></em></h1>
    <div class="card">
        <div class="img-container">
            <img src="{{image}}" alt="{{name}}" class="image" style="width:100%">
        <div class="middle">
            <h3 class="img-text">Made by:  {{brand}}</h3>
        </div>
    </div>
      <div class = "card-text">
          <h1>{{name}}</h1>
          <p>{{thc}} THC</p>
          <p class="price">${{price}}</p>
          <p><button data-id="{{id}}">Add to Wishlist</a></button></p>
      </div>
    </div>

</section>







<script src = "/js/login.js"></script>
