<section class = "One">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{image}}" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{thc}} THC</li>
                <li class="list-group-item">{{cbd}} CBD</li>
                <li class="list-group-item">${{price}}</li>
                <li class="list-group-item">Weight: {{weight}}</li>
                <li class="list-group-item">Brand: {{brand}}</li>
            </ul>
  <div class="card-body">
    <a href="#" class="card-link">Add to Cart</a>
  </div>
</div>

<script src = "/js/login.js"></script>

</section>

<section class = "Two">

</section>