

<body>
    <div class="about-me row col-12 col-lg-12">      
    
      <main class="One">
        <a name="product-of-day"><h3>Product of the Day</h3></a>
      </br>
<div id="product-wrap">
    <div>
        <div class="container">
        <img src="{{image}}" alt="Avatar" class="image" style="width:100%">
        <div class="middle">
            <div class="text">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">{{thc}} THC</p>
                <p class="card-text">{{cbd}} CBD</p>
                <p class="card-text">${{price}}</p>
                <p class="card-text">Weight: {{weight}}</p>
                <p class="card-text">Brand: {{brand}}</p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>  
        </div>
    </div>
</div>
          
      </br>
      <a href="https://github.com/timmorse13" target="_blank"><button>Link to product</button></a>
      
      </main>
      <section class="Two">
        <a name="login-homepage"><h2>Login</h2></a>
      </br>
      <p>Phone Number: (661) 645-1607</p>
      <p><a href = "mailto: timmorse13@gmail.com" target="_blank">Timmorse13@gmail.com</a></p>
    </br>
    </br>
      <p><a href="https://www.linkedin.com/in/tim-morse-57158519a/" target="_blank"><button>LinkedIn Profile</button></a></p>


      </section>
    
    </div>


    <script src="js/homepage.js"></script>

    
</body>
</html>