<div class="product-card">
    <div class="card-body" id="product-card">
        <p>
            <h1 id="name">Name:{{name}}</h1>
            <h2 id="thc">THC{{thc}}</h2>
            <h2 id="cbd">CBD:</h2>
            <h2 id="price">Price:{{price}}</h2>
            <h2 id="weight">Weight(g){{weight}}</h2>
            <h2 id="brand">Brand:{{brand}}</h2>
            <h2 id="producer">Producer{{producer}}</h2>
        </p>
    </div>
</div>

