<div id="product-wrap">
    <div>
        <div class="container">
        <img src="{{image}}" alt="Avatar" class="image" style="width:100%">
        <div class="middle">
            <div class="text">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">{{thc}} THC</p>
                <p class="card-text">{{cbd}} CBD</p>
                <p class="card-text">${{price}}</p>
                <p class="card-text">Weight: {{weight}}</p>
                <p class="card-text">Brand: {{brand}}</p>
                    <form action="/cart/" method="post" class="BuyForm">
                        <fieldset> 
                            <input type="hidden" name="products[0395][product_id]" class="HiddenInput">
                                <div class="FormItem FormSubmit">
                                     <button type="submit" class="SubmitButton AddToCart"><span>Add to cart</span></button>
                                </div>
                        </fieldset>
                    </form>
                    </div>  
                </div>
            </div>
        </div> 
        </div>
    </div>
</div>


