

<style>
.parallax {
  /* The image used */
  background-image: url("../images/growing-marijuana.jpg");

  /* Set a specific height */
  min-height: 200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>



<!-- Container element -->
<div class="parallax">
    <section class="prod-container">
{{#each product as |products|}}
<div class="card">
  <div class="img-container">
  <img src="{{image}}" alt="{{name}}" class="image" style="width:100%">
  <div class="middle">
    <h3 class="img-text">Made by:  {{brand}}</h3>
  </div>
  </div>
  <div class = "card-text">
  <h1>{{name}}</h1>
  <p>{{thc}} THC</p>
  <p class="price">${{price}}</p>
  <p><button id="add-to-cart" class="shop-item-button" data-id="{{id}}">Add to Wishlist</a></button></p>
  </div>
</div>{{/each}}
</section>
</div> 

<script src="js/cart.js"></script>
