
<div id="product-wrap">
    {{#each product as |products|}}
    <div>
        <div class="container">
        <img src="{{image}}" alt="Avatar" class="image" style="width:100%">
        <div class="middle">
            <div class="text">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">{{thc}} THC</p>
                <p class="card-text">{{cbd}} CBD</p>
                <p class="card-text">${{price}}</p>
                <p class="card-text">Weight: {{weight}}</p>
                <p class="card-text">Brand: {{brand}}</p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>  
        </div>
    </div>
    {{/each}}
</div>